/* Estilo para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ADD8E6;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}

.navbar-title {
color: #fff;
font-size: 1.5rem;
font-weight: 700;
}

.navbar-links {
list-style: none;
display: flex;
justify-content: space-around;
flex-grow: 1;
margin: 0;
padding: 0;
}

.navbar-links li {
    flex-grow: 1;
    text-align: center;
}

.navbar-link {
    color: blue;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    display: block;
    padding: 0.5rem 0; 
}

.navbar-link:hover {
text-decoration: underline;
}

.navbar-link.active {
color: red;
text-decoration: underline;
}

/* Estilo para el contenido del dashboard */
.dashboard-content {
padding: 2rem;
}
